@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #f69d3c;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 14px 0;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    border-color: #d9d9d9;
    background: #f69d3c;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #333;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

form .button input:hover {
    background: linear-gradient(-0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}