@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

nav {
    width: 100%;
    padding: 12px 0;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #cececed1;
}

nav .menu {
    max-width: 1270px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo a {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #31344b;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul a {
    margin: 0 8px;
    text-decoration: none;
    font-size: 18px;
    color: #31344b;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #cececed1;
    position: relative;
    transition: all 0.2s ease;
}

.menu ul a:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #cececed1;
}

.menu ul a:hover {
    color: #3498db;
}

nav label.button {
    color: #31344b;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav label.cancel {
    position: absolute;
    top: 25px;
    right: 30px;
}

#check {
    display: none;
}


/* addding responsiveness to the website */

@media(max-width:940px) {
    .menu ul {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 400px;
        padding-top: 45px;
        height: 100%;
        background: #ecf0f3;
        box-shadow: 0 5px 10px #b0b0b5;
        z-index: 12;
        transition: all 0.3s ease;
    }
    .menu ul a {
        display: block;
        font-size: 23px;
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        text-align: center;
    }
    .menu ul a:hover:before {
        -shadow: none;
    }
    nav label.bars {
        display: block;
    }
    #check:checked~label.bars {
        display: none;
    }
    #check:checked~ul label.cancel {
        display: block;
    }
    #check:checked~ul {
        left: 0;
    }
}